POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=mini_ad_platform
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
DATABASE_URL=postgres://postgres:postgres@postgres:5432/mini_ad_platform?sslmode=disable
SERVER_PORT=8080
